#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#digitalClock {
  font-size: 90;
  font-family: System-Light;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: grey;
}

.stats {
  font-size: 25;
  font-family: System-Light;
  text-anchor: middle;
  x: 50%;
  y: 100%-10;
  fill: grey;
}
